html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    font-size: 36px;
}
img {
    width: 100%;
}
header {
    margin: 0;
    padding: 10px 20px;
    background-color: #FFFA88;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .center {
    flex-basis: 50%;
}
header input {
    width: 60%;
}
#menu {
    background-color:  #C4C4C4 ;
    list-style: none;
    display: flex;
    margin: 0;
}
#menu li {
    flex-basis: 20%;
    text-align: center;
}
.container {
    display: flex;
}
#main {
    flex-basis: 70%;
}

#side {
    flex-basis: 30%;
}

#main .box,
#side .box {
    width: 80%;
    background-color: #C4C4C4;
    margin: 40px auto;
    padding: 40px;
}

#main h2,
#side h2 {
    font-size: 24px;
    margin: 0 0 20px 0;
}

/* #main h2 {
    padding-left: 56px;
    padding-top: 20px;
} */

#main img {
    width: 80%;
}

.recipe .left{
    width: 50%;
}
.recipe .right{
    width: 50%;
}

.column .container {
    margin-bottom: 20px;
}